@model Cards
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Deck ID: @Model.deck_id
<br />
<br />
<br />

@foreach (Card c in Model.cards)
{
    <br />
    @c
    <br />
    <img src="@c.image"/>
    <br />
}
